.chores {
    color:coral;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.3vw;
}

h3 {
    text-decoration: underline;
    text-align: center;
}

li {
    font-style: italic;
}